#footnotify_panel {                          
  -webkit-border-radius: 2px 2px;            
  -moz-border-radius: 2px / 2px;             
  -o-border-radius: 2px / 2px;               
  -ms-border-radius: 2px / 2px;              
  -khtml-border-radius: 2px / 2px;           
  border-radius: 2px / 2px;                  
}                                            
                                             
#footnotify_panel .footnoteBackLink,         
#footnotify_panel .footnote-back-link,       
#footnotify_panel a[rev=footnote] {          
  display:none;                              
}                                            
                                             
.footnotify_target_clone {                   
  position:absolute;                         
  line-height:1em;                           
  z-index:1000;                              
  padding:2px 4px;                           
  margin-left:-4px;                          
  background:#EED300;                        
  color:#000 !important;                     
  -webkit-border-radius: 3px 3px;            
  -moz-border-radius: 3px / 3px;             
  -o-border-radius: 3px / 3px;               
  -ms-border-radius: 3px / 3px;              
  -khtml-border-radius: 3px / 3px;           
  border-radius: 3px / 3px;                  
  pointer-events: none;                      
}                                            
                                             
.footnotify_click_help { color:#740000; }    
                                             
                                             